body{
    font-family: 'Golos Text', sans-serif;
    background-color: black;
    color: white;
}
.heading{
    color: rgb(156, 35, 35);
    text-align: center;
}
.artLogo{
    display: flex;
    justify-content: center;
}
.tabs{
    display: flex;
    justify-content: center;
}
.tabs a{
    margin: 20px;
    cursor:pointer;
}
.artpiece{
    height: 300px;
    width: auto;
    margin: 10px;
    flex-grow: 1;
    object-fit: cover;
}
.arts{
    width: 80vw;
    margin: auto;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.arts{
    display: none;
}




a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover {text-decoration: none;}
a:active { text-decoration: none;}

